## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here

sample_list_1 = random.sample(range(100), k = 80)

type(sample_list_1)
print(sample_list_1)

[45, 20, 61, 32, 35, 21, 16, 37, 64, 57, 4, 42, 17, 29, 46, 52, 39, 86, 66, 3, 7, 96, 62, 59, 19, 67, 92, 83, 70, 90, 89, 41, 5, 44, 94, 28, 71, 60, 93, 82, 58, 36, 15, 10, 40, 95, 55, 0, 97, 1, 84, 31, 27, 72, 11, 51, 68, 78, 80, 24, 12, 85, 77, 50, 13, 76, 47, 65, 43, 2, 49, 99, 9, 22, 81, 26, 8, 53, 30, 56]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here

set1 = set(sample_list_1)

type(set1)
print(set1)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30, 31, 32, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 70, 71, 72, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 89, 90, 92, 93, 94, 95, 96, 97, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [26]:
# Your code here

sample_list_2 = [random.randrange(0,100) for x in range(80)]

type(sample_list_2)
print(sample_list_2)

[7, 76, 18, 75, 20, 13, 89, 74, 2, 8, 3, 83, 73, 89, 45, 86, 62, 43, 72, 68, 80, 65, 14, 19, 61, 97, 9, 72, 72, 85, 12, 58, 8, 63, 66, 17, 62, 87, 39, 55, 43, 21, 11, 36, 11, 94, 29, 52, 27, 59, 63, 31, 84, 18, 67, 50, 80, 72, 2, 40, 21, 90, 10, 43, 60, 45, 22, 43, 19, 74, 21, 28, 80, 52, 7, 33, 39, 58, 51, 49]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [27]:
# Your code here

set2 = set(sample_list_2)

type(set2)
print(set2)

{2, 3, 7, 8, 9, 10, 11, 12, 13, 14, 17, 18, 19, 20, 21, 22, 27, 28, 29, 31, 33, 36, 39, 40, 43, 45, 49, 50, 51, 52, 55, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 72, 73, 74, 75, 76, 80, 83, 84, 85, 86, 87, 89, 90, 94, 97}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [28]:
# Your code here

set3 = set1 - set2
print(set3)

{0, 1, 4, 5, 15, 16, 24, 26, 30, 32, 35, 37, 41, 42, 44, 46, 47, 53, 56, 57, 64, 70, 71, 77, 78, 81, 82, 92, 93, 95, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [29]:
# Your code here

set4 = set2 - set1
print(set4)

{33, 73, 74, 75, 14, 18, 87, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [31]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{2, 3, 7, 8, 9, 10, 11, 12, 13, 17, 19, 20, 21, 22, 27, 28, 29, 31, 36, 39, 40, 43, 45, 49, 50, 51, 52, 55, 58, 59, 60, 61, 62, 65, 66, 67, 68, 72, 76, 80, 83, 84, 85, 86, 89, 90, 94, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [48]:
# Your code here

print(len(set1)) # 80 unique randoms
print(len(set2)) # randoms minus duplicates
print(len(set3)) # unique set1 elements
print(len(set4)) # unique set2 elements
print(len(set5)) # elements in both set1 and set2

len_set1 = len(set3) + len(set5)
len_set2 = len(set4) + len(set5)
len_set3 = len(set1) - len(set5)
len_set4 = len(set2) - len(set5)
len_set5 = len(set1) - len(set3) # OR len(set2) - len(set4)

print(len_set1)
print(len_set2)
print(len_set3)
print(len_set4)
print(len_set5)

80
56
32
8
48
80
56
32
8
48

#### Create an empty set called `set6`.

In [59]:
# Your code here
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [62]:
# Your code here
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30, 31, 32, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 70, 71, 72, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 89, 90, 92, 93, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [64]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [69]:
# Your code here

print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [72]:
# Your code here

union1 = (set3.union(set4, set5))
union2 = (set1.union(set2))

print(union1 == union2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [75]:
# Your code here


set1.pop()
print(set1)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30, 31, 32, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 70, 71, 72, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 89, 90, 92, 93, 94, 95, 96, 97, 99}
{2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30, 31, 32, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 70, 71, 72, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 89, 90, 92, 93, 94, 95, 96, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [80]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

new_list = [x for x in set1 if x not in list_to_remove]
print(new_list)

[2, 3, 4, 5, 7, 8, 10, 12, 13, 15, 16, 17, 20, 22, 24, 26, 27, 28, 30, 32, 35, 36, 37, 40, 42, 43, 44, 45, 46, 47, 50, 52, 53, 55, 56, 57, 58, 60, 62, 64, 65, 66, 67, 68, 70, 72, 76, 77, 78, 80, 82, 83, 84, 85, 86, 90, 92, 93, 94, 95, 96, 97]